.divisor {
    width: 3.125rem;
    height: 4px;
    background: rgb(170,255,0);
    background: linear-gradient(90deg, rgba(170,255,0,1) 0%, rgba(131,241,21,1) 18%, rgba(119,237,27,0) 18%, rgba(102,231,36,0) 28%, rgba(90,227,42,1) 28%, rgba(0,223,159,1) 100%);
    border-radius: .1875rem;
}