/*---------------------
    HEADER
---------------------*/
header {
    .info-bar {
        font-size: .6875rem;
        color: white;
    }
    nav {
        text-transform: uppercase;
        font-size: .8125rem;
    }
}

/*---------------------
    MAIN
---------------------*/
// HERO
.hero {
    ul {
        text-transform: uppercase;
        font-size: .875rem;
    }
}