/*---------------------
    HEADER
---------------------*/
header {
    .info-bar {
        font-size: .6875rem;
        color: white;
    }
    nav {
        text-transform: uppercase;
        font-size: .8125rem;
    }
}